.row.top
  .span4.box
    .header
      %span Recent builds
      %span.filter PVP
      %span.filter PVE
    .body
      %ul.recent-builds
        - 5.times do
          %li
            %a{:href => '#'}
              %span.name Cleric Crits all the Time
              %span.username
                %strong by
                brous
                %strong in
                Devoted Cleric
  .span8.box
    .header
      %span Popular Builds
    .body
      .side
        %ul.classes
          - classes.each do |c|
            %li
              %a{:href => "#", :rel => "#{c}", :class => "#{underscore(c)}"}= c 
      .content
        %ul 
