.header
  %a.logo{:href => "/"} Neverbuilds
  %ul.nav.nav-pills
    %li
      %a{:href => "/updates"} Updates
    %li
      %a.enabled{:href => "/builds"} Builds
    %li
      %a{:href => "#"} Forums
    %li
      %a{:href => "#"} Report a Bug  
